  <div>
    <h1><%= airport.city %></h1>
  </div>

  <div>
    <p><%= airport.country %></p>
  </div>

  <div>
    <p><%= airport.code %></p>
  </div>

  <div>
    <p><%= airport.details %></p>
  </div>


<h3>If this doesn't look right, you can
<%= link_to "edit this airport", edit_airport_path(airport) %>.</h3>
