 <!-- this is the details page - the end page with map & details  -->
  <div>
    <h1><%= airport.city %>, <%= airport.country %></h3>
  </div>

  <div>
    <h2>Airport code: <%= airport.code %></h2>
  </div>

  <div id="main_details">
    <p><%= safe_join(airport.details.split("\r\n"), "<br />".html_safe) %></p>
  </div>

<h4 style="font-size: 23px">If these details aren't right, you can
<%= link_to "edit this airport", edit_airport_path(airport) %>.</h4>
<br>
<div>

</div>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=545x200&sensor=false&zoom=9&markers=#{@location.latitude}%2C#{@location.longitude}" %>
