 <!-- this is the airport details page - the end page with map & details  -->
  <div>
    <!-- delivers the city and country names -->
    <h1><%= airport.city %>, <%= airport.country %></h3>
  </div>

  <div>
    <!-- delivers the code name -->
    <h2>Airport code: <%= airport.code %></h2>
  </div>

  <div id="main_details">
    <!-- delivers the details -->
    <!-- safe_join sets the regex "\r\n" to be a line break in the details -->
    <p><%= safe_join(airport.details.split("\r\n"), "<br />".html_safe) %></p>
  </div>

<h4 style="font-size: 23px">If these details aren't right, you can
<%= link_to "edit this airport", edit_airport_path(airport) %>.</h4>
<br>
<div>

</div>
  <!-- put this key in env please -->
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=580x210&sensor=false&zoom=9&center=#{airport.name}&markers=#{airport.latitude},#{airport.longitude}&key=AIzaSyA2Zvu8Fh5CDowNb1X0-Flq7e5W0WGTd7E" %>
